doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  title  About us 
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  link(href='./test.css' rel='stylesheet' type='text/css')
#about_us
  span#mark  About Us 
  #service.page(style='background-color: #7874CD')
    p.title  &#x670D;&#x52D9; 
    p.content  &#x7AE0;&#x9B5A;&#x53EF;&#x4EE5;&#x5E6B;&#x52A9;&#x60A8;&#x627E;&#x5230;&#x6240;&#x6709;&#x5B78;&#x6821;&#x4F5C;&#x696D;&#x7684;&#x7B54;&#x6848;&#x3002; 
    #octopus
    img.right_arrow(src='./pictures/double_right.png')
  #team.page(style='background-color: #FFD4E8')
    p.title(style='color: #7874CD')  &#x5718;&#x968A;&#x4ECB;&#x7D39; 
    #subpage
      span#Tiger.circle
        #tiger
        span.hover_text  tiger 
      span#Panda.circle
        #panda
        span.hover_text  panda 
      span#Monkey.circle
        #monkey
        span.hover_text  monkey 
      span#Dog.circle
        #dog
        span.hover_text  dog 
      span#Platypus.circle
        #platypus
        span.hover_text  platypus 
      span#Otter.circle
        #otter
        span.hover_text  otter 
    img.right_arrow(src='./pictures/double_right.png')
    img.left_arrow(src='./pictures/double_left.png')
  #story.page(style='background-color: #7874CD')
    p.title  &#x6545;&#x4E8B; 
    img.right_arrow(src='./pictures/double_right.png')
    img.left_arrow(src='./pictures/double_left.png')
  #joinus.page(style='background-color: #FFD4E8')
    p.title(style='color: #7874CD')  &#x52A0;&#x5165;&#x6211;&#x5011; 
    #group
      img(src='./pictures/group_photo.jpg' width='80%')
    img.left_arrow(src='./pictures/double_left.png')
#tiger_intro.intro_page
  p.name  &#x6797;&#x6538;&#x84C1;(Tiger) 
  p.text
    | Hello!&#x6211;&#x662F;&#x4E00;&#x500B;&#x6709;&#x4E00;&#x9EDE;&#x9EDE;&#x7DB2;&#x9801;&#x57FA;&#x790E;&#x7684;&#x5DE5;&#x7A0B;&#x5E2B;&#xFF0C;&#x50CF;&#x8001;&#x864E;&#x4E00;&#x6A23;&#x6709;&#x76EE;&#x6A19;&#x5C31;&#x6703;&#x60F3;&#x8981;&#x52AA;&#x529B;&#x9054;&#x6210;&#xFF0C;&#x4E4B;&#x524D;&#x6709;&#x505A;&#x904E;&#x81EA;&#x7136;&#x8A9E;&#x8A00;&#x8655;&#x7406;&#xFF0C;&#x4E5F;&#x6709;&#x5728;&#x63A5;&#x89F8;&#x6A5F;&#x5668;&#x5B78;&#x7FD2;&#x548C;&#x6DF1;&#x5EA6;&#x5B78;&#x7FD2;&#xFF0C;&#x5E0C;&#x671B;&#x80FD;&#x5920;&#x7CBE;&#x9032;&#x81EA;&#x5DF1;&#x5BEB;&#x7DB2;&#x9801;&#x7684;&#x80FD;&#x529B;&#xFF0C;&#x8207;&#x5718;&#x968A;&#x5171;&#x540C;&#x5408;&#x4F5C;&#xFF0C;&#x76F8;&#x4E92;&#x5B78;&#x7FD2;&#xFF0C;&#x4E26;&#x671F;&#x5F85;&#x5C07;&#x4F86;&#x80FD;&#x5275;&#x9020;&#x51FA;&#x4E00;&#x500B;&#x70BA;&#x8398;&#x8398;&#x5B78;&#x5B50;&#x9054;&#x7591;&#x89E3;&#x60D1;&#xFF0C;&#x5F88;&#x6709;&#x5BE6;&#x7528;&#x50F9;&#x503C;&#x7684;&#x5E73;&#x53F0;&#x3002;
  button.back  &#x8FD4;&#x56DE; 
  .circle_picture
    img(src='./pictures/profile_tiger.jpg')
#panda_intro.intro_page
  p.name  &#x6797;&#x67CF;&#x7DAD; (Panda) 
  p.text
    | &#x5927;&#x5BB6;&#x597D;&#xFF0C;&#x6211;&#x662F;&#x9019;&#x6B21;&#x89E3;&#x60D1;&#x5E73;&#x53F0;&#x7684;&#x767C;&#x8D77;&#x4EBA;&#xFF0C;&#x4E4B;&#x524D;&#x6BD4;&#x8F03;&#x5E38;&#x63A5;&#x89F8;&#x5E95;&#x5C64;&#x8A9E;&#x8A00;(C, C++)&#xFF0C;&#x9084;&#x6709; IC &#x8A2D;&#x8A08;&#x76F8;&#x95DC;&#x9818;&#x57DF;&#xFF0C;&#x7DB2;&#x9801;&#x6280;&#x8853;&#x5247;&#x5B8C;&#x5168;&#x662F;&#x521D;&#x5B78;&#xFF0C;&#x5E0C;&#x671B;&#x53EF;&#x4EE5;&#x85C9;&#x7531;&#x9019;&#x500B;&#x6A5F;&#x6703;&#x8DDF;&#x6211;&#x7684;&#x5925;&#x4F34;&#x5011;&#x76F8;&#x4E92;&#x6276;&#x6301;&#xFF0C;&#x4E00;&#x8D77;&#x5B78;&#x7FD2;&#x4E00;&#x8D77;&#x9032;&#x6B65;&#xFF0C;&#x4E26;&#x5728;&#x6700;&#x5F8C;&#x505A;&#x51FA;&#x8B93;&#x5927;&#x5BB6;&#x90FD;&#x6EFF;&#x610F;&#x7684;&#x6210;&#x54C1;&#xFF01;
  button.back  &#x8FD4;&#x56DE; 
  .circle_picture
    img(src='./pictures/profile_panda.jpg')
#monkey_intro.intro_page
  p.name  &#x6797;&#x8ED2;&#x5B87; (Monkey) 
  p.text
    | &#x5927;&#x5BB6;&#x597D;&#xFF0C;&#x6211;&#x6700;&#x5E38;&#x63A5;&#x89F8;&#x7684;&#x96FB;&#x8166;&#x8A9E;&#x8A00;&#x662F;Java&#x548C;Python&#x3002;&#x9AD8;&#x4E2D;&#x7684;&#x56DB;&#x5E74;&#x4E2D;&#x6211;&#x4E0A;&#x7DB2;&#x67E5;&#x904E;&#x7121;&#x6578;&#x6B21;&#x89E3;&#x984C;&#x65B9;&#x5F0F;&#x3002;&#x4F46;&#x662F;&#x60F3;&#x770B;&#x5230;&#x8A73;&#x7D30;&#x89E3;&#x7B54;&#x7E3D;&#x662F;&#x6703;&#x51FA;&#x73FE;&#x4ED8;&#x8CBB;&#x7684;&#x5B57;&#x6A23;&#xFF0C;&#x4F7F;&#x5F97;&#x6211;&#x5E38;&#x5E38;&#x591A;&#x6D6A;&#x8CBB;&#x6642;&#x9593;&#x3002;&#x6211;&#x5728;&#x5EFA;&#x7DB2;&#x9801;&#x9019;&#x4E00;&#x65B9;&#x9762;&#x9084;&#x7B97;&#x662F;&#x65B0;&#x624B;&#xFF0C;&#x4F46;&#x6211;&#x5E0C;&#x671B;&#x901A;&#x904E;&#x9019;&#x4E00;&#x500B;Project&#x7D66;&#x53F0;&#x7063;&#x7684;&#x570B;&#x9AD8;&#x4E2D;&#x9084;&#x6709;&#x5927;&#x5B78;&#x751F;&#x4E00;&#x500B;&#x514D;&#x8CBB;&#x7684;&#x7372;&#x6551;&#x7DB2;&#x7AD9;&#x3002;
  button.back  &#x8FD4;&#x56DE; 
  .circle_picture
    img(src='./pictures/profile_monkey.jpg')
#dog_intro.intro_page
  p.name  &#x4F55;&#x632F;&#x7DB1; (Dog) 
  p.text
    | &#x54C8;&#x56C9;!&#x6211;&#x662F;&#x4E00;&#x500B;&#x89BA;&#x5F97;&#x5BEB;&#x6210;&#x662F;&#x5F88;&#x6709;&#x8DA3;&#x7684;&#x5DE5;&#x7A0B;&#x5E2B;&#xFF0C;&#x8DDF;&#x72D7;&#x72D7;&#x4E00;&#x6A23;&#x5145;&#x6EFF;&#x597D;&#x5947;&#x5FC3;&#xFF0C;&#x7279;&#x5225;&#x662F;&#x5C0D;&#x7A0B;&#x5F0F;&#x8A9E;&#x8A00;&#x3002;&#x4EE5;&#x524D;&#x5B78;&#x904E;java&#x548C;C&#xFF0C;&#x76EE;&#x524D;&#x525B;&#x8E0F;&#x5165;&#x7DB2;&#x8DEF;&#x7684;&#x4E16;&#x754C;&#xFF0C;&#x9084;&#x5728;&#x52AA;&#x529B;&#x5B78;&#x7FD2;&#x4E2D;&#x3002;&#x672A;&#x4F86;&#x6211;&#x5011;&#x9019;&#x500B;&#x5718;&#x968A;&#x5C07;&#x4E00;&#x8D77;&#x958B;&#x767C;&#x4E00;&#x500B;&#x514D;&#x8CBB;&#x7684;&#x89E3;&#x60D1;&#x5E73;&#x53F0;&#xFF0C;&#x89E3;&#x6C7A;&#x4F60;&#x5728;&#x8AB2;&#x696D;&#x4E0A;&#x7684;&#x554F;&#x984C;&#x3002;&#x5982;&#x679C;&#x4F60;&#x60F3;&#x8D0A;&#x52A9;&#x9322;&#x9322;&#x6211;&#x5011;&#x6703;&#x5F88;&#x958B;&#x5FC3;:)
  button.back  &#x8FD4;&#x56DE; 
  .circle_picture
    img(src='./pictures/profile_dog.jpg')
#platypus_intro.intro_page
  p.name  &#x738B;&#x5609;&#x744B; (Platypus) 
  p.text
    | hi~&#x6211;&#x662F;&#x4E00;&#x4F4D;&#x525B;&#x8E0F;&#x9032;&#x7DB2;&#x9801;&#x4E16;&#x754C;&#x7684;&#x5DE5;&#x7A0B;&#x5E2B;&#xFF0C;&#x50CF;&#x9D28;&#x5634;&#x7378;&#x4E00;&#x6A23;&#x4EC0;&#x9EBC;&#x90FD;&#x4E0D;&#x6703;&#x537B;&#x4FDD;&#x6301;&#x8E0F;&#x5BE6;&#x7684;&#x5FC3;&#x60C5;&#x5B78;&#x7FD2;&#x3002;&#x4E4B;&#x524D;&#x5BEB;&#x904E;java,c&#x8207;&#x4E00;&#x4E9B;&#x786C;&#x9AD4;&#x63CF;&#x8FF0;&#x8A9E;&#x8A00;&#xFF0C;&#x5E0C;&#x671B;&#x80FD;&#x5920;&#x5B78;&#x7FD2;&#x7DB2;&#x9801;&#x8A2D;&#x8A08;&#xFF0C;&#x8207;&#x5718;&#x968A;&#x5275;&#x9020;&#x51FA;&#x4E00;&#x500B;&#x7CBE;&#x7DFB;&#x7684;&#x89E3;&#x60D1;&#x5E73;&#x53F0;&#xFF0C;&#x5E6B;&#x52A9;&#x4F60;&#x6211;&#x89E3;&#x6C7A;&#x8AB2;&#x696D;&#x554F;&#x984C;! &#x6B61;&#x8FCE;&#x5404;&#x4F4D;&#x4E00;&#x8D77;&#x52A0;&#x5165;&#xFF0C;&#x900F;&#x904E;&#x89E3;&#x984C;&#x3001;&#x63D0;&#x554F;&#x3001;&#x5EFA;&#x8B70;&#x3001;&#x8CC7;&#x52A9;&#x7B49;&#x90FD;&#x53EF;&#x4EE5;&#x5E6B;&#x52A9;&#x9019;&#x500B;&#x5E73;&#x53F0;&#x767C;&#x63DA;&#x5149;&#x5927;&#x5594;!
  button.back  &#x8FD4;&#x56DE; 
  .circle_picture
    img(src='./pictures/profile_platypus.jpg')
#otter_intro.intro_page
  p.name  Kris Haamer (Otter) 
  p.text
    | &#x5927;&#x5BB6;&#x597D;&#xFF0C;&#x6211;&#x5E0C;&#x671B;&#x6211;&#x5011;&#x7684;&#x7DB2;&#x7AD9;&#x53EF;&#x4EE5;&#x5E6B;&#x52A9;&#x60A8;&#x66F4;&#x597D;&#x5730;&#x5B78;&#x7FD2;&#x3002;&#x6211;&#x5011;&#x6B63;&#x5728;&#x5617;&#x8A66;&#x5275;&#x5EFA;&#x4E00;&#x500B;&#x66F4;&#x6709;&#x8DA3;&#x7684;&#x76CA;&#x667A;&#x904A;&#x6232;&#xFF0C;&#x4F7F;&#x5176;&#x5728;&#x5B78;&#x6821;&#x5B78;&#x7FD2;&#x548C;&#x5FEB;&#x6A02;&#x6642;&#x8B8A;&#x5F97;&#x6709;&#x8DA3;&#x3002; &#x901A;&#x904E;&#x8A3B;&#x518A;&#x52A0;&#x5165;&#x6211;&#x5011;&#x3002; &#x544A;&#x8A34;&#x6211;&#x5011;&#x60A8;&#x5728;&#x5B78;&#x6821;&#x4F5C;&#x696D;&#x4E2D;&#x9047;&#x5230;&#x7684;&#x554F;&#x984C;&#xFF0C;&#x4E26;&#x5411;&#x6211;&#x5011;&#x767C;&#x9001;&#x60A8;&#x7684;&#x53CD;&#x994B;&#x610F;&#x898B;&#x3002;
  button.back  &#x8FD4;&#x56DE; 
  .circle_picture
    img(src='./pictures/profile_otter.jpg')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js')
script(src='./test.js')
